
<% @district_history.each do |district_year| %>
  <div id="stats-<%= district_year[:district].election.year %>"></div>
  <script>
    var graphData = <%= district_year[:json_donut] %>;

    Morris.Donut({
      element: "stats-<%= district_year[:district].election.year %>",
      data: graphData
    });
  </script>
<% end %>