<div class="candidates-graph">
  <div id="electionGraph"></div>
</div>


<script>
  // Finds the parties abbr of all relavent parties for the graph
  var dataKeys = [];
  var graphData = [];
  var years = [];
  <% colors = [] %>
   <% @district_history.reverse_each do |d| %>
    dataKeys = dataKeys.concat(Object.keys(<%= d[:json_line][:data] %> ));
    graphData = graphData.concat(<%= d[:json_line][:data] %>);
    <% d[:json_line][:colors].each do |c|
      if !c.in?(colors)
        colors << c
      end %>
    <% end %>
  <% end %>
  var dataKeys = Array.from(new Set(dataKeys))
  for(var i = dataKeys.length-1; i--;){
    if (dataKeys[i] === "year") {
      // years.push(dataKeys[i]);
      dataKeys.splice(i, 1);
    }
  }
  console.log(colors);
  // graphs the election data from district.get_graph_data
  var electionGraph = Morris.Line({
    element: 'electionGraph',
    data: graphData,
    xkey: 'year',
    ykeys: dataKeys,
    labels: dataKeys,
    parseTime: false,
    hideHover: 'always',
    continuousLine: true,
    postUnits: '%',
    resize: false,
    lineColors: <%= colors.to_json.html_safe %>
  });

</script>