  <div id="electionGraph"></div>
  <div id="legend"></div>


<script>
  // Finds the parties abbr of all relavent parties for the graph
  var dataKeys = [];
  var graphData = [];
  var years = [];
  var colors = [];
   <% @district_history.reverse_each do |d| %>
    dataKeys = dataKeys.concat(Object.keys(<%= d[:json_line][:data] %> ));
    graphData = graphData.concat(<%= d[:json_line][:data] %>);
    colors = colors.concat(<%= d[:json_line][:colors] %>);

  <% end %>
  var dataKeys = Array.from(new Set(dataKeys))
  for(var i = dataKeys.length-1; i--;){
    if (dataKeys[i] === "year") {
      // years.push(dataKeys[i]);
      dataKeys.splice(i, 1);
    }
  }

  // graphs the election data from district.get_graph_data
  var electionGraph = Morris.Line({
    element: 'electionGraph',
    data: graphData,
    xkey: 'year',
    ykeys: dataKeys,
    labels: dataKeys,
    parseTime: false,
    hideHover: false,
    continuousLine: true,
    postUnits: '%',
    resize: false,
    lineColors: colors
  });

</script>