<div class="stat-graphs">
<% district_data = []
    @district_history.each do |district_year|
    if district_year[:district].voters_registered
      voter_turnout = ((district_year[:district].total_votes).to_i / (district_year[:district].voters_registered).to_i) * 100.00
        tv = district_year[:district].total_votes.to_f
        rv = district_year[:district].voters_registered.to_f
        vb = district_year[:district].ballots_valid
        rb = district_year[:district].ballots_rejected
        pp district_year[:district].inspect
        year = district_year[:district].election.year
        year_data = {year: "#{year}", rv: "#{rv.to_i}", tv: "#{tv.to_i}", vb: "#{vb.to_i}", rb: "#{rb.to_i}" }
        district_data << year_data %>
    <% end %>
  <% end %>
 <% json_data = district_data.to_json.html_safe %>


  <div id="area-graph"></div>
  <div class="area-legend"></div>
<script>

var districtData = <%= raw json_data %>.reverse()

  var areaGraph = Morris.Area({
    element: 'area-graph',
    data: districtData,
    xkey: 'year',
    ykeys: ['rv', 'tv', 'vb', 'rb'],
    labels: ['Registered Voters', 'Total Votes', 'Valid Ballots', 'Rejected Ballots'],
    hideHover: false,
    smooth: false,
    parseTime: false,
    behaveLikeLine: true,
    lineColors: ['#24292e', '#999999', '#00802b', '#990000']
  });

</script>

</div>