  <div id="electionGraph"></div>
  <div id="legend"></div>

<script>
  // Finds the parties abbr of all relavent parties for the graph
  var data_keys = [];
  var graphData = [];
   <% @district_history.each do |d| %>
    data_keys = data_keys.concat(Object.keys(<%= d[:json] %> ));
    graphData = graphData.concat(<%= d[:json] %>);
  <% end %>
  var data_keys = Array.from(new Set(data_keys))
  for(var i = data_keys.length-1; i--;){
    if (data_keys[i] === "year") data_keys.splice(i, 1);
  }

  // graphs the election data from district.get_graph_data
  var electionGraph = Morris.Line({
    element: 'electionGraph',
    data: graphData,
    xkey: 'year',
    ykeys: data_keys,
    labels: data_keys,
    hideHover: 'auto',
    continuousLine: true,
    postUnits: '%',
    resize: 'true'
  });

</script>