

<div class="container body-container">
<div class="buffer"></div>
<h1 class="top-header">District Index</h1>
  <div class="one-full column">
    <% (1..@years.count).each do |i| %>
      <%= link_to year = @years.find(i).year, "#anchor-#{year}", class: 'button' %>
    <% end %>
    <% (1..@years.count).each do |i| %>
      <div id="anchor-<%= year = @years.find(i).year %>">
        <%= render 'district_list', election_districts: @districts.where(:election_id => i).order('districts.name'), year: year %>
      </div>
    <% end %>
  </div>
</div>