<div id="buffer"></div>
<div class="container body-container district-index-container">
  <div class="top-margin"></div>
  <h1>District Index</h1>

  <div class="one-full column">
    <% (@years).each do |election| %>
        <% year = election.year %>
        <%= link_to year, "#anchor-#{year}", class: 'button' %>
    <% end %>
    <% (@years).each do |election| %>
      <% cache(election) do %>
        <% year = election.year %>
        <div class="district-anchor" id="anchor-<%= year %>">
        </div>
          <%= render 'district_list', election_districts: @districts.where(:election_id => election.id).order('districts.name'), year: year %>
      <% end %>
    <% end %>
  </div>
</div>
