

<div class="container body-container">
<div class="buffer"></div>
<h1 class="top-header">District Index</h1>
    <div class="one-full column">
      <%= render 'district_list', election_districts: @districts %>
    </div>
  </div>

</div>