<div class="container body-container">
<div id="buffer"></div>
<h1 class="top-header">District Index</h1>
    <div class="one-full column">
      <%= render 'district_list', districts: @districts %>
    </div>
  </div>

</div>