<div class="container body-container">
  <div id="buffer"></div>
  <h1 class="top-header">District Index</h1>

  <div class="one-full column">
    <% (@years).each do |election| %>
        <% year = election.year %>
        <%= link_to year, "#anchor-#{year}", class: 'button' %>
    <% end %>
    <% (@years).each do |election| %>
      <% year = election.year %>
      <div id="anchor-<%= year %>">
        <%= render 'district_list', election_districts: @districts.where(:election_id => election.id).order('districts.name'), year: year %>
      </div>
    <% end %>
  </div>
</div>