<h1>District</h1>

 <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Abbr</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @district.name %></td>
      <td><%= @district.abbr %></td>
    </tr>
  </tbody>
</table>

 <table>
    <thead>
    <tr>
      <th>lat</th>
      <th>lng</th>
    </tr>
  </thead>

  <tbody>
    <% @boundary.each do |point| %>
      <tr>
        <td><%= point[0] %></td>
        <td><%= point[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
