<h1>District</h1>

 <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Abbr</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @district.name %></td>
      <td><%= @district.abbr %></td>
    </tr>
  </tbody>
</table>


<br>
