<div class="election-donut" id="election-seats"></div>
<script>
  var graphData = <%= election_seats[:data] %>;
  var colors = <%= election_seats[:colors] %>;

  var electionSeats = Morris.Donut({
    element: "election-seats",
    data: graphData,
    colors: colors
  });
</script>