function findStats(index, legend) {
  return new Number($($(legend).find('.morris-hover-row-label').prevObject[index]).contents().text().split(':')[1].replace(/[^\d\.]/g, ''));
}

function insertVotersLegend(toLegend, fromLegend){
  if (fromLegend.length) {
  var tv = findStats(1, fromLegend);
  var rv = findStats(2, fromLegend);
  var voterTurnout = Math.round(10000 * (rv / tv)) / 100
    toLegend.html($(fromLegend))
    toLegend.append('<div>' + 'Voter Turnout: ' + voterTurnout.toString() + '%</div>')
  }
}
function insertCandidatesLegend(toLegend, fromLegend){
  if (fromLegend.length) {
    toLegend.html($(fromLegend))
    if (toLegend.find(".morris-hover-point:contains('-%')")) {
      toLegend.find(".morris-hover-point:contains('-%')").remove();
    }
  }
}

$(document).on("turbolinks:load", function() {
  if (parseInt(window.location.pathname.slice(-4))) {
    var year = window.location.pathname.slice(-4);
  }
  else {
    var year = <%= Election.last_election_year %>;
  }

  $('.show-' + year).addClass('show').css( 'position', 'static');
  $('.year-tabs button').css({'border-width': '1px', 'border-color': '#bbb', 'color': '#555'});
  $('.year-tabs button:contains(' + year + ')').css({'border-width': '3px', 'border-color': '#888', 'color': 'black'});

  $('.year-tabs').children().on('click', function(){
    year = $(this).text();
    $('.year-tabs button').css({'border-width': '1px', 'border-color': '#bbb', 'color': '#555'});
    $(this).css({'border-width': '3px', 'border-color': '#888', 'color': 'black'});
    $('.district-data').removeClass('show').css( 'position', 'absolute');
    $('.show-' + year).addClass('show').css( 'position', 'static');
  });

  insertVotersLegend($('.voters-graph .area-legend'), $('.voters-graph .morris-hover.morris-default-style').contents());
  insertCandidatesLegend($('.candidates-graph .candidates-legend'), $('.candidates-graph .morris-hover.morris-default-style').contents());

  $('.voters-graph').mousemove(function(){
    insertVotersLegend($('.voters-graph .area-legend'), $('.voters-graph .morris-hover.morris-default-style').contents());
  })

  $('.candidates-graph').mousemove(function(){
    insertCandidatesLegend($('.candidates-graph .candidates-legend'), $('.candidates-graph .morris-hover.morris-default-style').contents());
  })


});