function findStats(index, legend) {
  return new Number($($(legend).find('.morris-hover-row-label').prevObject[index]).contents().text().split(':')[1].replace(/[^\d\.]/g, ''));
}

function insertLegend(){
  $legend = $('.stat-graphs .morris-hover.morris-default-style').contents();
  if ($legend.length) {
  var tv = findStats(1, $legend);
  var rv = findStats(2, $legend);
  var voterTurnout = Math.round(100 *(rv / tv))
    $('.stat-graphs .area-legend').html($($legend))
    $('.stat-graphs .area-legend').append('<div>' + 'Voter Turnout: ' + voterTurnout.toString() + '%</div>')
  }
}

var currentYear = <%= Election.current_election_year %> - 4;

$(document).on("turbolinks:load", function() {

  $(`.show-${currentYear}`).addClass('show');

  $('.year-tabs').children().on('click', function(){
    var year = $(this).text();
    $('.district-data').removeClass('show');
    $(`.show-${year}`).addClass('show');
  });

  insertLegend();

  $('.stat-graphs').mousemove(function(){
    insertLegend();
  })

});