function findStats(index, legend) {
  return new Number($($(legend).find('.morris-hover-row-label').prevObject[index]).contents().text().split(':')[1].replace(/[^\d\.]/g, ''));
}

function insertLegend(){
  $legend = $('.stat-graphs .morris-hover.morris-default-style').contents();
  if ($legend.length) {
  var tv = findStats(1, $legend);
  var rv = findStats(2, $legend);
  var voterTurnout = Math.round(10000 * (rv / tv)) / 100
    $('.stat-graphs .area-legend').html($($legend))
    $('.stat-graphs .area-legend').append('<div>' + 'Voter Turnout: ' + voterTurnout.toString() + '%</div>')
  }
}

var currentYear = <%= Election.current_election_year %> - 4;

$(document).on("turbolinks:load", function() {
  if (parseInt(window.location.pathname.slice(-4))) {
    var currentYear = window.location.pathname.slice(-4);
  }
  else {
    var currentYear = <%= Election.last_election_year %>;
  }

  $(`.show-${currentYear}`).addClass('show').css( 'position', 'static');

  $('.year-tabs').children().on('click', function(){
    var year = $(this).text();
    $('.year-tabs button').css('border-width', '1px');
    $(this).css('border-width', '3px');
    $('.district-data').removeClass('show').css( 'position', 'absolute');
    $(`.show-${year}`).addClass('show').css( 'position', 'static');
  });

  insertLegend();

  $('.stat-graphs').mousemove(function(){
    insertLegend();
  })

});