<div id="buffer"></div>
<div class="container body-container">
  <div class="top-margin"></div>
  <h1>About</h1>
  <p>
    Vote-BC is data visualization application that displays vote statistics for BC elections.
  </p>
  <p>
    Originally created as a final projects for <%= link_to "Lighthouse Labs", "https://lighthouselabs.ca/" %>, it has taken on a life of its own.
  </p>
  <div>
    <h4>Creators</h4>
    <%= link_to raw("<i class='fa fa-github' aria-hidden='true'></i> Couragyn Chretien"), "https://github.com/Couragyn", class: 'button'  %>
    <%= link_to raw("<i class='fa fa-github' aria-hidden='true'></i> Dace Hunter"), "https://github.com/nanstey", class: 'button'  %>
    <%= link_to raw("<i class='fa fa-github' aria-hidden='true'></i> Noel Antsey"), "https://github.com/Sporradik", class: 'button' %>
  </div>
</div>