.navbar {
  background-color: rgba(240, 240, 240, 1);
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: #555;
  z-index: 3;
}

.navbar h4 {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  top: 7px;
  line-height: 40px;
  z-index: 4;
}

.navbar h4 a:link {
  text-decoration: none;
}

.navbar h4 a:hover {
  color: #555;
}

.navbar h4 a:visited {
  color: #555;
}

.nav-menu {
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  float: right;
}

.nav-menu a {
  display: inline-block;
  border: none;
  font-size: 16px;
}

.districts-btn {
  display: inline-block;
}

.nav-menu .dropdown {
  display: inline-block;
  top: 2px;
  height: 60px;
  border: none;
}

.nav-menu .dropdown i {
  margin-right: 2px;
  font-size: 16px;
}

.dropbtn {
  padding: 7px 0;
  height: 60px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  background-color: rgba(240, 240, 240, 1);
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  display: none;
  position: absolute;
  top: 60px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 0 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
background-color: #E8E8E8
}

.menu-icon {
  position: relative;
  margin-right: 20px;
  font-size: 30px;
  display: none;
  float: right;
  line-height: 60px;
  z-index: 4;
}

.menu-icon:hover {
color: black;
}

// Handles caret rotation for elections dropdown
.down {
transform:             rotate( -270deg );
  -moz-transform:    rotate( -270deg );
  -ms-transform:     rotate( -270deg );
  -o-transform:      rotate( -270deg );
  -webkit-transform: rotate( -270deg );
transition:             transform 200ms ease;
  -moz-transition:    -moz-transform 200ms ease;
  -ms-transition:     -ms-transform 200ms ease;
  -o-transition:      -o-transform 200ms ease;
  -webkit-transition: -webkit-transform 200ms ease;
}

.up {
  transform:             rotate( -360deg );
    -moz-transform:    rotate( -360deg );
    -ms-transform:     rotate( -360deg );
    -o-transform:      rotate( -360deg );
    -webkit-transform: rotate( -360deg );
  transition:             transform 200ms ease;
    -moz-transition:    -moz-transform 200ms ease;
    -ms-transition:     -ms-transform 200ms ease;
    -o-transition:      -o-transform 200ms ease;
    -webkit-transition: -webkit-transform 200ms ease;
}

// Styles navbar when it is at the top of the page
.navbar.at-top {
  background-color: rgba(240, 240, 240, 0);
  box-shadow: none;
  color: #F0F0F0;
}

.navbar.at-top .dropdown button {
  color: #F0F0F0;
}

.navbar.at-top .dropdown i:before {
  color: #F0F0F0;
}

.navbar.at-top .nav-menu a {
  color: #F0F0F0;
}

.navbar.at-top .nav-menu .dropdown-content {
  background: transparent;
}

.navbar.at-top .nav-menu .dropdown-content a:hover {
  background-color:rgba(0, 0, 0, 0.1);
}

  .navbar.at-top h4 a:hover {
    color: #f0f0f0;
  }

  .navbar.at-top h4 a:visited {
    color: #f0f0f0;
  }

//RESPONSIVE
@media screen and (max-width: 550px) {
  .nav-menu {
    position: relative;
    top: -60px;
    padding-top: 70px;
    float: none;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }

  .nav-menu a {
    display: block;
  }

  .nav-menu .dropdown {
    display: block;
    padding: 0;
  }
  .menu-icon {
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    top: 178px;
    width: 100%;
  }

  .navbar.at-top .nav-menu {
    background-color:rgba(0, 0, 0, 0.3);
  }

  .navbar.at-top .nav-menu .dropdown-content {
    background-color:rgba(0, 0, 0, 0.3);
  }
  .navbar.at-top .nav-menu .dropdown-content a:hover {
    background-color:rgba(0, 0, 0, 0.1);
  }

  .navbar.at-top .menu-icon:hover {
    color: #e3e3e3;
  }


}

