.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #F0F0F0;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
  color: #555
}

.navbar h4 {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  top: 7px;
  line-height: 40px;
}

.nav-menu {
  float: right;
}

.nav-menu a {
  display: inline-block;
  border: none;
  font-size: 16px;
}

.districts-btn {
  display: inline-block;
}

.nav-menu .dropdown {
  display: inline-block;
  top: 2px;
  height: 60px;
  border: none;
}

.dropbtn {
  padding: 7px 0;
  height: 60px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 59px;
  background-color: #f0f0f0;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
background-color: #E8E8E8
}

.menu-icon {
  margin-right: 20px;
  font-size: 30px;
  display: none;
  float: right;
  line-height: 60px;
}

.menu-icon:hover {
color: black;
}

@media screen and (max-width: 550px) {
  .nav-menu {
    padding-top: 10px;
    float: none;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  }

  .nav-menu a {
    display: block;
  }

  .nav-menu .dropdown {
    display: block;
    padding: 0;
  }
  .menu-icon {
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    top: 177px;
    width: 100%;
  }

}

