/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require skeleton
 *= require morris
 */
@import 'morrisjs-rails';
@import "font-awesome";

.content {
  background-color: #F0F0F0;
  padding-bottom: 60px;
}

.top-margin {
  height: 30px;
}

.body-container {
  background-color: #F0F0F0;
  text-align: center;
}

.one-full.column table {
  position: relative;
  margin: 30px auto;
  font-size: 20px;
  color: #333;
}

.one-full.column table tr td {
  font-size: 16px;
  text-decoration: none;
}

.one-full.column table tr td a {
  text-decoration: none;
}

.one-full.column table tr td a:link {
  color: #1EAEDB;
}

.one-full.column table tr td a:visited {
  color: #157b9d;
}

.one-full.column table tr td a:hover {
  color: #157b9d;
  text-decoration: underline;
}

#election-anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

#buffer {
  min-height: 60px;
}

.addthis_inline_share_toolbox {
  height: 30px;
}