.container.body-container.district-index-container .one-full.column {
  margin: 0;
}

.district-anchor {
  position: absolute;
  margin-top: -80px;
}

.district-index-container .one-full.column h5 {
  margin: 20px 0 10px 0;
}

.district-index-table {
  padding: 20px;
}

@media screen and (max-width: 550px) {

  .district-index-table table th {
    font-size: 14px;
  }

  .one-full.column .district-index-table table tbody tr td {
    font-size: 14px;
  }

}

@media screen and (max-width: 475px) {

  .district-index-table table th {
    font-size: 12px;
    padding: 5px 2px;
  }

  .one-full.column .district-index-table table tbody tr td {
    font-size: 12px;
    padding: 5px 2px;
  }

}

@media screen and (max-width: 400px) {

  .container.body-container.district-index-container {
    padding: 0;
  }
}