.container.body-container.district-index-container .one-full.column {
  margin: 0;
}

.district-anchor {
  position: absolute;
  margin-top: -80px;
}

.district-index-container .one-full.column h5 {
  margin: 20px 0 10px 0;
}