#map {
  height: 60vh;
  width:100%;
  max-height: 500px;
}

.district-data-containers {
  min-height: 411px;
}

.district-data {
  position: absolute;
  visibility: hidden;
}

.district-header {
  margin-top: 20px;
}

.district-titles {
  min-height: 80px;
  position: relative;
  text-align: center;
}

.district-title {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.show {
  visibility: visible;
}


.donut-graph {
  margin: 10px 0 10px 30px;
}

.donut-graph svg {
  width: 300px;
}

.candidates-table {
  max-width: 45%;
}

.candidate-graph {
  padding: 20px;
  max-width: 45%;
}

.candidate-tables {
  padding: 20px;
  @extend .district-data-containers;
}

.donut-graphs {
  @extend .district-data-containers;
}

.stat-tables {
  padding: 20px;
  @extend .district-data-containers;
}