#map {
  height: 60vh;
  width:100%;
  max-height: 500px;
}

.district-data-containers {
  min-height: 300px;
}

.district-data {
  position: absolute;
  visibility: hidden;
}

.district-header {
  margin-top: 20px;
}

.district-titles {
  min-height: 80px;
  position: relative;
  text-align: center;
}

.district-title {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.show {
  visibility: visible;
}


.donut-graph svg {
  width: 240px;
  height: 240px;
  font-size: 15px;
}

.candidates-graph {
  padding: 20px;
}

.candidates-table {
  margin-top: -30px;
  // @extend .district-data-containers;
}

.candidate-tables .candidates-table.district-data table {
  margin: 0;
}


.candidate-tables {
  padding: 0 20px;
  // @extend .district-data-containers;
}

.stat-graphs {
  padding: 20px;
  // @extend .district-data-containers;
}

.stat-graphs .morris-hover.morris-default-style {
  visibility: hidden;
}

.stat-graphs .area-legend {
  min-height: 30px;
}