.container {
  background-color: #F0F0F0;

}

.one-full.column table {
  position: relative;
  margin: 30px auto;
  font-size: 20px;
  color: #333;
}

.one-full.column table tr td {
  font-size: 16px;
  text-decoration: none;
}

.one-full.column table tr td a {
  text-decoration: none;
}

.one-full.column table tr td a:link {
  color: #1EAEDB;
}

.one-full.column table tr td a:visited {
  color: #157b9d;
}

.one-full.column table tr td a:hover {
  color: #157b9d;
  text-decoration: underline;
}