.election-votes svg { width: 100% !important; }
.election-seats svg { width: 100% !important; }

.election-donut svg {
  height: 240px;
  width: 100%;
  font-size: 15px;
}

.donut h5 {
  margin: 10px 0 0 0;
}

.party-table {
  padding: 20px;
}

.row .one-full.column .party-table table {
  margin: 0;
}

.party-table table td {
  padding: 8px 2px;
}

.party-table table th {
  font-size: 16px;
  padding: 5px 2px;
}

.party-leaders {
  padding: 0 20px;
}
.party-leaders table td {
  padding: 16px 0;
  text-align: right;
}


.election-stats-column h5 {
  margin: 10px 0 0 0;
}

.election-stats {
  padding: 0 20px;
}

.election-stats table td {
  text-align: right;
  padding: 16px 0;
}


@media screen and (max-width: 550px) {

  .row .one-full.column .party-table table td {
    font-size: 12px;
  }

  .row .one-full.column .party-table table th {
    font-size: 12px;
  }

}

@media screen and (max-width: 427px) {

  .row .one-full.column .party-table table td {
    font-size: 10px;
  }

  .row .one-full.column .party-table table th {
    font-size: 10px;
  }

}

@media screen and (max-width: 400px) {

  .container.body-container.election-container {
    padding: 0;
  }

}
