.election-votes svg { width: 100% !important; }
.election-seats svg { width: 100% !important; }

.elections-header {
  margin-bottom: 20px;
}

.navigate-elections {
  margin: 0 26%;
}

.navigate-container {
  width: 65px;
  height: 30px;
}

.navigate-container-left {
  float: left;
}

.navigate-container-right {
  float: right;
}

.navigate-elections a.button {
  margin: -3px 0 0 0;
}

.navigate-elections .elections-prev {
  font-size: 20px;
  text-decoration: none;
}

.navigate-elections .elections-next {
  font-size: 20px;
  text-decoration: none;
}

.election-donut svg {
  height: 250px;
  width: 100%;
  font-size: 15px;
}

.donut h5 {
  margin: 10px 0 0 0;
}

.party-table {
  padding: 20px;
}

.row .one-full.column .party-table table {
  margin: 0;
}

.explanation {
  font-size: 14px;
}

.party-table table td {
  padding: 8px 2px;
}

.party-table table th {
  font-size: 16px;
  padding: 5px 2px;
}

.party-leaders {
  padding: 0 20px;
}
.party-leaders table td {
  padding: 16px 0;
  text-align: right;
}


.election-stats-column h5 {
  margin: 10px 0 0 0;
}

.election-stats {
  padding: 0 20px;
}

.election-stats table td {
  text-align: right;
  padding: 16px 0;
}


@media screen and (max-width: 730px) {

  .navigate-elections {
    margin: 0 10%;
  }

}

@media screen and (max-width: 550px) {

  .navigate-elections {
    margin: 0 8%;
  }

  .row .one-full.column .party-table table td {
    font-size: 12px;
  }

  .row .one-full.column .party-table table th {
    font-size: 12px;
  }


}

@media screen and (max-width: 427px) {

  .navigate-elections {
    margin: 0 5%;
  }

  .row .one-full.column .party-table table td {
    font-size: 10px;
  }

  .row .one-full.column .party-table table th {
    font-size: 10px;
  }

}

@media screen and (max-width: 400px) {

  .navigate-elections a.button {
    padding: 0 2px;
    font-size: 10px;
    width: 150px;
  }

  .navigate-elections {
    margin: 0 3%;
  }

  .container.body-container.election-container {
    padding: 0;
  }

}
