<div class="footer">
  <span><%= link_to "About Us", "/about" %></span>
  <% if current_page?(root_url) %>
    <span>Cover photo by Ryan Bushby</span>
  <% end %>
  <span>Vote BC <i class="fa fa-copyright" aria-hidden="true"></i> <%= Election.current_election_year %></span>
</div>