<div class="navbar">
  <div class="content">
  <h4>Vote BC</h4>
    <div class="menu">
     <%= link_to "Districts", districts_path, class: "button" %>

      <div class="dropdown">
        <button class="dropbtn">Elections</button>
        <div class="dropdown-content">
          <a href="#">2017</a>
          <a href="#">2009</a>
          <a href="#">2006</a>
        </div>
      </div>
    </div>
  </div>
</div>