<div class="navbar">
  <h4>Vote BC</h4>
  <div class="menu-icon">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
  <div class="nav-menu">
   <%= link_to "Districts", districts_path, class: "button" %>
    <div class="dropdown button">
      <button class="dropbtn">Elections</button>
      <div class="dropdown-content">
        <a href="#">2017</a>
        <a href="#">2009</a>
        <a href="#">2006</a>
      </div>
    </div>
  </div>
</div>